<h1><%= @track.name %></h1>
<h3>Artist: <%= link_to "#{@track.band.name}", band_url(@track.band) %></h3>
<h3>Album: <%= link_to "#{@track.album.title}", album_url(@track.album) %></h3>

<h3>Lyrics:</h3>
<pre><%= @track.lyrics %></pre>

<%= link_to "Edit track", edit_album_track_url(@track.album, @track) %>