<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash[:notice].try(:each) do |msg| %>
  <%= msg %>
<% end %>

<% if current_user %>
  You are logged in as <%= current_user.email %>.
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Logout">
  </form>
<% end %>

<%= yield %>
</body>
</html>
